#banner {
  background-image: linear-gradient(
    rgba(40, 57, 101, 0.7),
    rgba(40, 57, 101, 0.7)
  ), url('img/neuro.png');
  background-size: cover;
  background-position-y: 25%;
  color: white;
  text-align: center;
  padding: 100px 20px;
  width: 100vw;
}

#content {
  margin-top: 1em;
}
